<head>
    <meta charset="UTF-8">
    <title>Galactic Meetup 2019 des Duck Invaders</title>
    <meta name="description" content="Toutes les informations sur le Galactic Meetup 2019 des Duck Invaders : lieu, programme, team, trophées">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#010a00">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    <!-- Opengraph -->
    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:title" content="Galactic Meetup 2019 des Duck Invaders">
    <meta property="og:description" content="Toutes les informations sur le Galactic Meetup 2019 des Duck Invaders : lieu, programme, team, trophées">
    <meta property="og:url" content="https://galactic-meetup.duck-invaders.fr/">
    <meta property="og:image" content="https://galactic-meetup.duck-invaders.fr/img/duck-invaders.png/og-image.jpg">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@duckinvaders11">
    <meta name="twitter:creator" content="@duckinvaders11">
    <meta property="twitter:title" content="Galactic Meetup 2019 des Duck Invaders">
    <meta property="twitter:description" content="Toutes les informations sur le Galactic Meetup 2019 des Duck Invaders : lieu, programme, team, trophées">
    <meta property="twitter:image" content="https://galactic-meetup.duck-invaders.fr/img/duck-invaders.png/og-image.jpg">
    <meta name="twitter:image:alt" content="Duck Invaders">
    <!-- CSS / font -->
    <link href="https://fonts.googleapis.com/css?family=Iceland" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
